.button-new {
  background-color: #000066 !important;
  color: white;
  cursor: pointer;    /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Animación para color de fondo y borde */
  text-align: center; /* Centra el texto dentro del botón */
  margin: 10px;
  border: 2px solid #000066 !important;  /* Borde inicial azul */
  border-radius: 15px !important;  /* Bordes ligeramente redondeados */
  padding: 10px 20px;  /* Ajuste de tamaño del botón */
  font-size: 14px !important; /* Ajusta el tamaño de la letra */
  
}

.button-new:hover {
  background-color: white !important; /* Cambia el color de fondo al pasar el ratón */
  color: #000066 !important;          /* Cambia el color del texto al pasar el ratón */
  border-color: #000066 !important;   /* Mantiene el borde azul */
  border-radius: 15px; /* Cambia los bordes a redondeados completos al pasar el ratón */
}
